@font-face {
    font-family: 'poppins';
    src: url('../assets/poppins.ttf');
}

:root{
    --color: #b8acff;
    --place: #957eff    ;
}
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: black;
}

.header{
    text-align: center;
    color: var(--color);
}

.game-container{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.dashboard-container{
    display: none;
    flex-direction: column;
    gap: 40px;
    
    width: 30vh;
    height: 50vh;
    margin-top: 8vh;
    margin-right: 10vh;
    
    padding: 10px;
    padding-left: 20px;
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dashboard-container > h4{
    text-align: center;
} 

.ship-overview{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.ship-container{
    display: flex;
}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 40px;
    margin-top: 10vh;

    /* box-shadow: var(--color) 0px 2px 4px 0px, var(--color) 0px 2px 16px 0px; */
    
}

.player-two{
    display: none;
}

.player-one > h4,
.player-two > h4{
    margin-left: 18vh;
    color: var(--color);
}

.player-one-board,
.player-two-board{
    display: grid;
    margin-right: 4vh;
    width: 500px;
    height: 500px;
}

.board-cell{
    border: 1px solid var(--color);
}

.valid{
    background-color: #d6d1ff;
}

.invalid{
    background-color: red;
}


.placed-ship{
    background-color: var(--place);
}

.timeout-screen{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color);

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    backdrop-filter: blur(100px);
    animation: fadeInAnimation ease-in 7s;
    animation-iteration-count: 1;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.attacked-ship{
    background-color: red;
}

.missed-attack{
    background-color: #3130d2;
}

