@font-face {
    font-family: 'poppins';
    src: url('../assets/sohne.otf');
}

:root{
    --color: #9e88fd;
    --place: #957eff    ;
}
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: black;
}

.header{
    text-align: center;
    color: var(--color);
}

.game-container{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.dashboard{
    display: none;
    flex-direction: column;
    gap: 20px;
}

.dashboard-container{
    display: none;
    flex-direction: column;
    gap: 16px;
    
    width: 30vh;
    height: 43vh;
    margin-top: 8vh;
    margin-right: 10vh;
    
    padding: 10px;
    padding-left: 20px;
    border: 1px solid var(--color);
    border-radius: 8px;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #78719f;
    border-radius: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 6px;
  }

.dashboard-container > h4{
    text-align: center;
    color: var(--place);
} 

/* .ship-overview{
    width: 30px;
    height: 30px;
    border: 1px solid black;
} */


.ship-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.ship-cell{
    background-color: #957eff;
}

#reset-btn{
    text-align: center;
    width: 33vh;
    height: 26px;

    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--place);
    cursor: pointer;
}


.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 40px;
    margin-top: 10vh;

    /* box-shadow: var(--color) 0px 2px 4px 0px, var(--color) 0px 2px 16px 0px; */
    
}

.player-two{
    display: none;
}

.player-one > h4,
.player-two > h4{
    margin-left: 18vh;
    color: var(--color);
}

.player-one-board,
.player-two-board{
    display: grid;
    margin-right: 4vh;
    width: 500px;
    height: 500px;
}

.board-cell{
    width: 48px;
    height: 48px;
    border: 1px solid var(--color);
}

.placed-ship{
    background-color: var(--place);
}

.timeout-screen{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color);

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    backdrop-filter: blur(100px);
    animation: fadeInAnimation ease-in 7s;
    animation-iteration-count: 1;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.attacked-ship{
    background-color: red;
}

.missed-attack{
    background-color: #3130d2;
}

.starter-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16vh;
}

.starter-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #9e88fd;
}   

.game-mode-buttons > button{
    width: 290px;
    height: 30px;

    background-color: #d9d4ff;
    border: 1px solid #d9d4ff;
    border-radius: 10px;

    font-size: 16px;
    cursor: pointer;
}

.game-mode-buttons{
    display: flex;
    gap: 20px;
}

.game-over-modal{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color);

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    backdrop-filter: blur(100px);
    animation: fadeInAnimation ease-in 7s;
    animation-iteration-count: 1;
}